node_modules
.next
out
build
dist
.git
.gitignore
.env
.env.*
!.env.example
*.log
db/*.db
db/*.db-journal
uploads
.vscode
.idea
.DS_Store
coverage
.pnp
README.md
docs
worklog.md
tests
examples
download
